rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Match all flashcards
    match /flashcards/{document} {

      // Allow read access to everyone, but only authenticated users can write
      allow read: if resource.data.isDefault == true || request.auth != null;

      // Only allow authenticated users to create custom flashcards
      allow create: if request.auth != null;

      // Only allow users to view, edit, or delete their own flashcards
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }
  }
}