.flash-card {
  border: 1px solid #f1f1f1;
  border-radius: 16px;
  padding: 16px;
}

.flash-card-inner {
  text-align: center;
  display: flex;
}

.rotate {
  /* transform: rotateY(180deg); */
}

/* Position the front and back side */
.flash-card-question,
.flash-card-answer {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  /* -webkit-backface-visibility: hidden; Safari */
  /* backface-visibility: hidden; */
}

.answer-body {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, visibility 0s 0.5s; /* Transition for both */
}

/* On hover, make the answer-body visible and fade in */
.flash-card-answer:hover .answer-body {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease-in-out, visibility 0s; /* Visibility becomes instant */
}

/* Reset visibility and opacity when not hovering */
.flash-card-answer:not(:hover) .answer-body {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, visibility 0s 0.5s; /* Delay hiding visibility */
}
